dist
node_modules
.env
cypress.env.json
cypress/videos/
cypress/screenshots/
.DS_Store
.eslintcache

**/build/
**/node_modules/
frontend/testcafe/screenshots/
frontend/testcafe/reports/
frontend/cypress/videos/
frontend/cypress/screenshots/
